@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

$Cyan: hsl(179, 62%, 43%);
$Brigh-Yellow: hsl(71, 73%, 54%);
$Light-Gray: hsl(204, 43%, 93%);
$Grayish-Blue: hsl(218, 22%, 67%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla";
}

body {
  display: grid;
  place-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 10px 14px 16px rgba($color: #000000, $alpha: 0.1);
}

.top,
.content-left,
.content-right {
  padding: 30px;
}

.top {
  background: #fff;

  .title {
    color: $Cyan;
    margin: 10px 0px 25px;
  }
  .sub-title {
    color: $Brigh-Yellow;
    margin: 0px 0px 25px;
  }
  .description {
    font-size: 16px;
    color: $Grayish-Blue;
    line-height: 33px;
  }
}

.bot {
  display: flex;
  flex-direction: column;
  color: #fff;
  .content-left {
    background: $Cyan;

    .content-left-title {
      margin-bottom: 25px;
    }

    .price-box {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;

      .price {
        font-weight: 700;
        font-size: 34px;
        margin-bottom: 7px;
      }
      .time {
        position: absolute;
        color: $Light-Gray;
        left: 80px;
        top: 10px;
      }
    }

    .btn {
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      width: 100%;
      height: 45px;
      border: none;
      border-radius: 6px;
      box-shadow: 4px 6px 8px rgba($color: #000000, $alpha: 0.1);
      background: $Brigh-Yellow;
    }
  }

  .content-right {
    background: hsl(179, 52%, 53%);

    &-title {
      margin-bottom: 25px;
    }
    &-text {
      width: 70%;
      line-height: 33px;
    }
  }
}

footer {
  text-align: center;
  margin: 50px 0;
}

@media (min-width: 716px) {
  .container {
    max-width: 800px;
    width: 100%;
  }

  .bot {
    flex-direction: row;

    .content-left {
      width: 50%;
    }
    .content-right {
      width: 50%;
    }
  }
}
